<div class="border border-1 rounded m-3 p-2">
<h2><%= @restaurant.name %></h2>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.category %></p>
<p><%= @restaurant.phone_number %></p>
</div>

<%= link_to "Leave a review", new_restaurant_review_path(@restaurant), class: "m-3 btn btn-danger"%>

<div class="m-3">
<p><strong>Reviews</strong></p>
<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
  <div class="border border-1 rounded m-3 p-2">
    <p><%= review.content %></p>
    <p>&nbsp;&nbsp;Rating: &nbsp;&nbsp;<%= review.rating%> <i class="fa-solid fa-star"></i></p>
    </div>
  <% end %>
</ul>
</div>

<%= link_to "Show the restaurants", restaurants_path, class: "btn btn-danger m-3"%>
